/*************************************************************************
 * Your custom CSS file
 *************************************************************************/ 

#cregg_snow {
  width: 200px; 
  border-radius: 80%;
}

#cregg_headshot1 {
  width: 300px;
  border-radius: 90%
}

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
} 

.column {
  float: left;
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
} 

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2043";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  /* color: #316a93;  Change the color to curious blue */
  color: #000000;
  font-weight:  bold; /* "bold" If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}  

ol {
 list-style-type: upper-roman; 
}

ol li::before { 
  /* color: #316a93; */
  color: #000000;
  font-weight: normal;
  width: 1em;
  margin-left: -1em;
}

h1 {
 font-family: 'Abel', sans-serif;
  font-size: 36px;
 /* color: #316a93; */
  color: #000000;
}   

h2 {
 font-family: 'Abel', sans-serif;
  font-size: 24px;
 color: #316a93; 
 /* color: #000000; */
} 
iframe { 
  margin-left: auto;   /* Automatic margin from left */ 
  margin-right: auto; /* Automatic margin from right */ 
}  
